/* ::::: http://0.ss.faisys.com/css/base.min.css?v=201512091732 ::::: */

img { border: 0px none; vertical-align: top; }
body { font-size: 12px; margin: 0px; padding: 0px; }
a { padding: 0px; }
p { margin: 0px; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); font-family: "宋体","新宋体",sans-serif; }
a { color: rgb(102, 102, 102); }
.g_html { height: 100%; }
.g_body { height: 100%; }
.g_main { position: relative; }
.g_web { position: relative; min-height: 100%; }
.webTopTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; height: 0px; font-size: 0px; }
.webTop { position: relative; width: 960px; margin: 0px; padding: 0px; height: 0px; font-size: 0px; }
.absTopTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; height: 0px; font-size: 0px; }
#absTopForms { position: relative; width: 960px; margin: 0px; padding: 0px; height: 0px; font-size: 0px; text-align: left; }
.webHeaderTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; }
.webHeaderTable .webHeaderTd { vertical-align: bottom; height: 100%; }
.webHeader { position: relative; width: 960px; margin: 0px; padding: 0px; }
.webHeader .headerTable { table-layout: fixed; width: 100%; height: 100%; }
.webHeader .headerCusLeft { display: none; }
.webHeader .headerCusRight { display: none; }
.webHeader .headerCusMiddle { width: 100%; height: 100%; }
.webHeader .headerNav { position: relative; width: 100%; height: 100%; }
.webNavTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; height: 0px; position: absolute; }
.webNav { position: relative; width: 100%; margin: 0px; padding: 0px; height: 0px; }
.webNavDefault { width: 960px; }
.webBannerTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; }
.webBannerTable .bannerLeft { display: none; }
.webBannerTable .bannerRight { display: none; }
.webBanner { position: relative; width: 960px; margin: 0px; padding: 0px; overflow: hidden; z-index: 0; }
.webContainerTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; }
.webContainer { position: relative; width: 960px; padding: 0px; margin: 0px; text-align: left; }
.containerPlaceholder { clear: both; width: 100%; margin: 0px; padding: 0px; font-size: 0px; overflow: hidden; height: 0px; }
.absMiddleTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; height: 0px; font-size: 0px; }
#absForms { position: relative; width: 960px; margin: 0px; padding: 0px; height: 0px; font-size: 0px; text-align: left; }
.absBottomTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; height: 0px; font-size: 0px; }
#absBottomForms { position: relative; width: 960px; margin: 0px; padding: 0px; height: 0px; font-size: 0px; text-align: left; }
.webFooterTable { width: 100%; table-layout: fixed; margin: 0px; padding: 0px; border-spacing: 0px; }
.webFooter { position: relative; width: 960px; padding: 0px; margin: 0px; overflow: hidden; }
.webTop { z-index: 6; }
#absTopForms { z-index: 3; }
#webNav { z-index: 2; }
.webHeader { z-index: 1; }
#absForms { z-index: 4; }
#absBottomForms { z-index: 5; }
.webNavTable {  }
.webHeaderTable {  }
.corpTitle { position: absolute; top: 50px; left: 10px; font-size: 32px; z-index: 32; text-align: left; white-space: nowrap; }
.bannerTop { display: none; position: absolute; width: 100%; z-index: 1; }
.banner { position: relative; padding: 0px; margin: 0px; }
.bannerTable { table-layout: fixed; width: 100%; height: 100%; }
.bannerTable .bannerLeft, .bannerTable .bannerRight { display: none; }
.nav { position: absolute; top: 0px; left: 0px; padding: 0px; margin: 0px; width: 100%; z-index: 30; }
.webNav .fixedNavPos { position: absolute; }
.footer { position: relative; margin: 0px; padding: 10px 0px; text-align: center; }
.bgMusic { position: absolute; width: 0px; height: 0px; overflow: hidden; }
.clearfloat { clear: both; height: 0px; font-size: 0px; overflow: hidden; line-height: 0; }
.navMainContent { width: 100%; height: 100%; position: relative; }
.nav .navTop { clear: both; padding: 0px; border-spacing: 0px; width: 100%; table-layout: fixed; display: none; }
.nav .navBottom { clear: both; padding: 0px; border-spacing: 0px; width: 100%; table-layout: fixed; display: none; }
.nav .navContent { clear: both; padding: 0px; border-spacing: 0px; height: 100%; table-layout: fixed; margin: auto; width: 100%; }
.nav .navLeft { display: none; }
.nav .navCenterContent { margin: 0px; padding: 0px; width: 100%; height: 100%; }
.nav .navCenter { position: relative; margin: 0px; padding: 0px; overflow: hidden; width: 100%; height: 100%; }
.nav .navRight { display: none; }
.nav .itemPrev { position: absolute; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 13px; z-index: 16; cursor: pointer; display: none; background: transparent url('navleft.gif') no-repeat scroll 0% 0%; height: 31px; }
.nav .itemContainer { position: absolute; top: 0px; left: 0px; margin: 0px; padding: 0px; overflow: hidden; height: auto; }
.nav .itemNext { position: absolute; line-height: 28px; top: 0px; right: 0px; margin: 0px; padding: 0px; overflow: hidden; width: 13px; display: none; z-index: 16; cursor: pointer; background: transparent url('navright.gif') no-repeat scroll 0% 0%; height: 31px; }
.nav .itemSep { position: relative; float: left; display: inline; }
.nav .item { position: relative; float: left; cursor: pointer; border-spacing: 0px; }
.nav .item .itemLeft { display: none; }
.nav .item .itemCenter a { text-decoration: none; text-align: center; display: block; margin: 0px 10px; word-break: keep-all; white-space: nowrap; width: auto; min-width: 60px; max-width: none; }
.nav .item .itemRight { display: none; }
.container { position: relative; padding: 0px; font-size: 0px; }
.container .containerTop { clear: both; table-layout: fixed; padding: 0px; border-spacing: 0px; width: 100%; display: none; }
.container .containerTop .left { margin: 0px; padding: 0px; }
.container .containerTop .center { margin: 0px; padding: 0px; }
.container .containerTop .right { margin: 0px; padding: 0px; }
.container .containerMiddle { clear: both; table-layout: fixed; padding: 0px; border-spacing: 0px; width: 100%; }
.container .containerMiddleLeft { display: none; }
.container .containerMiddleCenter { padding: 0px; }
.container .containerMiddleCenterTop { display: none; }
.container .containerForms { position: relative; margin: 0px; padding: 0px; width: 100%; }
.container .containerFormsMiddle { margin: 0px; padding: 0px; border-spacing: 0px; width: 100%; }
.container .containerFormsLeft { width: 210px; border-spacing: 0px; overflow: hidden; padding: 0px 10px 10px 0px; margin: 0px; height: auto; }
.container .containerFormsLeft .containerFormsLeftTop { width: 100%; margin: 0px; padding: 0px; display: none; }
.container .containerFormsLeft .containerFormsLeftBottom { clear: both; width: 100%; margin: 0px; padding: 0px; display: none; }
.container .containerFormsCenter { border-spacing: 0px; overflow: hidden; padding: 0px 0px 10px; margin: 0px; height: auto; }
.container .containerFormsRight { width: 210px; border-spacing: 0px; overflow: hidden; padding: 0px 0px 10px 10px; margin: 0px; height: auto; }
.container .containerFormsRight .containerFormsRightTop { margin: 0px; width: 100%; padding: 0px; display: none; }
.container .containerFormsRight .containerFormsRightBottom { clear: both; margin: 0px; width: 100%; padding: 0px; display: none; }
.container .containerMiddleCenterBottom { display: none; }
.container .containerMiddleRight { display: none; }
.container .containerBottom { clear: both; table-layout: fixed; padding: 0px; border-spacing: 0px; width: 100%; display: none; }
.container .containerBottom .left { margin: 0px; padding: 0px; }
.container .containerBottom .center { margin: 0px; padding: 0px; }
.container .containerBottom .right { margin: 0px; padding: 0px; }
.topForms { clear: both; margin: 0px; padding: 0px; width: 100%; }
.leftForms { clear: both; margin: 0px; width: 100%; padding: 0px; border-spacing: 0px; }
.centerTopForms { margin: 0px; width: 100%; padding: 0px; }
.containerForms .containerFormsCenter .containerFormsCenterMiddle { clear: both; margin: 0px; padding: 0px; overflow: hidden; }
.middleLeftForms { float: left; width: 49%; margin: 0px; padding: 0px; }
.middleRightForms { float: right; width: 49%; margin: 0px; padding: 0px; }
.centerBottomForms { clear: both; width: 100%; margin: 0px; padding: 0px; }
.rightForms { clear: both; margin: 0px; width: 100%; padding: 0px; border-spacing: 0px; }
.bottomForms { clear: both; margin: 0px; padding: 0px; width: 100%; }
.fullmeasureForms { width: 100%; }
.form { position: relative; margin: 7px 0px 0px; padding: 0px; overflow: hidden; font-size: 12px; }
.forms .formTop { table-layout: fixed; clear: both; padding: 0px; border-spacing: 0px; width: 100%; display: none; }
.forms .formBanner { position: relative; clear: both; padding: 0px; border-spacing: 0px; width: 103%; 
table-layout: fixed; word-break: keep-all; white-space: nowrap; overflow: hidden; }
.forms .formBanner .left { display: none; }
.forms .formBanner .center { table-layout: fixed; word-break: keep-all; white-space: nowrap; overflow: hidden; width: 100%; }
.forms .formBannerTitle { float: left; padding: 0px; border-spacing: 0px; }
.forms .formBannerTitle .titleLeft { display: none; }
.forms .formBannerTitle .titleCenter { text-align: left; padding: 0px 5px; font-size: 13px; font-weight: bold; word-break: keep-all; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.forms .formBannerTitle .titleRight { display: none; }
.forms .formBanner .right { display: none; }
.forms .formMiddle { position: relative; clear: both; padding: 0px; border-spacing: 0px; width: 100%; table-layout: fixed; font-size: 12px; }
.forms .formMiddle .formMiddleLeft { display: none; }
.forms .formMiddle .formMiddleCenter { margin: 0px; width: 100%; }
.forms .formMiddleContent { position: relative; height: auto; min-height: 5px; max-height: none; overflow-x: hidden; margin: 5px; }
.forms .formMiddle .formMiddleRight { display: none; }
.forms .formBottom { clear: both; padding: 0px; border-spacing: 0px; width: 100%; table-layout: fixed; word-break: keep-all; white-space: nowrap; display: none; }
.forms .formBottom .center { width: 100%; }
.floatLeftTop { position: fixed; top: 0px; left: 0px; width: 0px; height: 0px; font-size: 0px; z-index: 29; margin: 0px; padding: 0px; }
.floatRightTop { position: fixed; top: 0px; right: 0px; width: 0px; height: 0px; font-size: 0px; z-index: 29; margin: 0px; padding: 0px; }
.floatLeftBottom { position: fixed; bottom: 0px; left: 0px; width: 0px; height: 0px; font-size: 0px; z-index: 29; margin: 0px; padding: 0px; }
.floatRightBottom { position: fixed; bottom: 0px; right: 0px; width: 0px; height: 0px; font-size: 0px; z-index: 29; margin: 0px; padding: 0px; }
.footer { position: relative; padding: 10px 0px; width: 100%; }
.footer .footerTop { clear: both; table-layout: fixed; padding: 0px; border-spacing: 0px; width: 100%; display: none; }
.footer .footerTop .topLeft { margin: 0px; padding: 0px; }
.footer .footerTop .topCenter { margin: 0px; padding: 0px; }
.footer .footerTop .topRight { margin: 0px; padding: 0px; }
.footer .footerMiddle { clear: both; table-layout: fixed; padding: 0px; border-spacing: 0px; width: 100%; }
.footer .footerMiddle .middleLeft { display: none; }
.footer .footerMiddle .middleCenter { padding: 0px; }
.footer .footerMiddle .middleRight { display: none; }
.footer .footerBottom { clear: both; table-layout: fixed; padding: 0px; border-spacing: 0px; width: 100%; display: none; }
.footer .footerBottom .bottomLeft { margin: 0px; padding: 0px; }
.footer .footerBottom .bottomCenter { margin: 0px; padding: 0px; }
.footer .footerBottom .bottomRight { margin: 0px; padding: 0px; }
.footer .footerContent { width: 100%; }
.footer .footerNav { clear: both; text-align: center; line-height: 22px; margin: 0px; padding: 0px; }
.footer .footerInfo { clear: both; text-align: center; line-height: 22px; margin: 0px; padding: 0px; position: relative; overflow: hidden; }
.footer .footerSupport { clear: both; text-align: center; height: 22px; line-height: 22px; margin: 0px; padding: 0px; }
.footer .footerSupport a { text-decoration: none; }
.table-content table td { padding: 3px; }
.table-content .table-content-wrap { word-wrap: break-word; }
.imageSwitchBtn { font-size: 12px; font-family: "Verdana"; text-align: center; display: block; float: left; overflow: hidden; margin: 4px 4px 2px 0px; background-color: rgb(255, 255, 255); opacity: 0.5; width: 15px; height: 15px; cursor: pointer; }
.imageSwitchBtn span { color: rgb(0, 0, 0); }
.imageSwitchBtnSel { opacity: 1; }
.imageSwitchShowName .spanHiddenName { display: none; float: left; color: rgb(255, 255, 255); }
.imageSwitchShowName .spanShowName { width: 100%; display: block; font-size: 14px; text-overflow: ellipsis; overflow: hidden; }
.photoSwitchBg { background: transparent url('photoswitchbg.png') repeat scroll 0px 0px; }
.numImg, .dotImg {  }
.mainForms .formMiddle td.formMiddleCenter { background: transparent none repeat scroll 0px center; }
.siteFormMiddle input::-moz-placeholder, .siteFormMiddle textarea::-moz-placeholder { color: rgb(140, 140, 140); }
.bgplayerButton { cursor: pointer; width: 30px; height: 12px; line-height: 22px; vertical-align: middle; display: inline-block; background: transparent url('sound_0_on.gif') no-repeat scroll 0px 0px; }
.ui-helper-clearfix::after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.forms .form.modulePattern { margin: 7px 0px 0px; padding: 0px; border: 0px none; background: transparent none repeat scroll 0px center; font-size: 12px; overflow: hidden; box-shadow: none; }
.forms .form.modulePattern .formTop { display: none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formTop .left { background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formTop .center { background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formTop .right { background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formBanner { background: transparent none repeat scroll 0px center; border: 0px none; margin: 0px; }
.forms .form.modulePattern .formBanner .left { display: none; padding: 0px; border: 0px none; }
.forms .form.modulePattern .formBanner .center { text-shadow: none; padding: 0px; border: 0px none; }
.forms .form.modulePattern .formBannerTitle { float: left; padding: 0px; border-spacing: 0px; width: auto; border: 0px none; margin: 0px; }
.forms .form.modulePattern .formBannerTitle .titleText { text-shadow: none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formBannerTitle .titleLeft { display: none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formBannerTitle .titleCenter { background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formBannerTitle .titleCenter .titleText { display: block; padding: 0px; }
.forms .form.modulePattern .formBannerTitle .titleRight { display: none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formBanner .right { display: none; border: 0px none; }
.forms .form.modulePattern .formMiddle { position: relative; clear: both; border-spacing: 0px; width: 100%; table-layout: fixed; margin: 0px; padding: 0px; font-size: 12px; border: 0px none; }
.forms .form.modulePattern .formMiddle .formMiddleLeft { display: none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formMiddle .formMiddleCenter { margin: 0px; width: 100%; border: 0px none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formMiddle .formMiddleCenter .formMiddleContent { position: relative; height: auto; overflow-x: hidden; margin: 5px; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formMiddle .formMiddleRight { display: none; background: transparent none repeat scroll 0px center; }
.forms .form.modulePattern .formBottom { display: none; background: transparent none repeat scroll 0px center; width: 100%; margin-left: 0px; }
.forms .form.modulePattern .formBottom .center { width: 100%; }
.siteAdvertisement_box { position: fixed; bottom: 12px; width: 127px; height: 167px; left: 12px; z-index: 33; color: rgb(51, 51, 51); }
.siteAdvertisement_box a { color: rgb(51, 51, 51); }
.siteAdvertisement_box .siteAdvertisement_Inner { width: 125px; height: 145px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; border: 1px solid rgb(238, 238, 238); }
.siteAdvertisement_box .siteAdvertisement_title { width: 125px; height: 20px; background: rgb(204, 204, 204) none repeat scroll 0% 0%; }
.siteAdvertisement_box a.closeImg { display: block; width: 14px; height: 13px; background: transparent url('close.png') no-repeat scroll 0px 0px; float: right; margin-top: 3px; margin-right: 2px; }
.siteAdvertisement_box a.closeImg:hover { background: transparent url('close.png') no-repeat scroll 0px -13px; }
.siteAdvertisement_box a.reportUrl { line-height: 20px; margin-left: 8px; float: left; text-decoration: none; }
.siteAdvertisement_box a.freeJZ { display: block; margin-top: 2px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 125px; height: 20px; border: 1px solid rgb(221, 221, 221); text-align: center; color: rgb(51, 51, 51); text-decoration: none; }
.siteAdvertisement_box a.freeJZ:hover { color: rgb(255, 50, 0); }
.siteAdvertisement_box a.freeJZ span { line-height: 20px; text-decoration: none; }
.footerItemListContainer { margin: 0px auto; padding: 0px; overflow: hidden; text-align: center; }
.footerItemListContainer li { list-style: outside none none; padding: 0px; margin: 0px; }
.footerItemListContainer .footerItemSection {  }
.footerItemListContainer .footerItemSection, .footerItemListContainer .footerItemSpacing { display: inline-block; vertical-align: top; overflow: hidden; }
.footerItemContainer { border-spacing: 0px; table-layout: auto; }
.footerItemContainer td { vertical-align: top; padding: 0px; }
.footerItemContainer .footerItemTop { text-align: left; }
.footerItemContainer .footerItemMiddle { width: 100%; line-height: 0; }
.footerItemContainer .footSplitline { width: 100%; height: 0px; line-height: 0; border-top: 1px solid rgb(142, 142, 142); }
.footerItemNormalPic { display: block; cursor: default; position: relative; width: 40px; height: 40px; overflow: hidden; }
.footerItemListContainer .footerItemSpacing { padding: 0px 4px; }
.footerItemListContainer .footerItemSpacing_end { opacity: 0; }
.footerItemSpacing .footerVerticalLine { height: 100%; width: 1px; background-color: rgb(142, 142, 142); }
.footerPattern1 .footerItemPic { display: none; padding: 0px 4px 0px 0px; }
.footerPattern1 .footerItemMiddle { display: none; }
.footerPattern1 .footerVerticalLine { display: block; }
.fullmeasureForms .fullmeasureContent > :first-child { margin-top: 0px; }
div.extBanner { padding: 0px; }
/* ::::: http://0.ss.faisys.com/css/template/5003.min.css?v=201508311727 ::::: */

body { font-family: "微软雅黑","宋体"; font-size: 12px; color: rgb(102, 102, 102); }
a { font-family: "微软雅黑","宋体"; }
.webHeaderTable { height: 100px; background: rgb(28, 137, 36) none repeat scroll 0% 0%; position: relative; margin: 0px auto;width:91%; }
.webHeader { height: 100%; }
.webBanner { width: 100% ! important; }
.banner { width: 100%; height: 380px; background: transparent url('50003.jpg') no-repeat scroll 50% 0px; }
.webFooterTable { background: rgb(53, 53, 53) none repeat scroll 0% 0%; }
.corpTitle { left: 30px; top: 43px; color: rgb(255, 255, 255); font-family: "微软雅黑","宋体"; }
.nav { width: 660px; position: relative; height: 31px; line-height: 28px; top: 50px; left: 35px; font-size: 15px; }
.nav .navMainContent { width: 660px; height: 31px; }
.nav .navLeft { background: transparent none no-repeat scroll right center; }
.nav .navRight { background: transparent none no-repeat scroll left center; }
.nav .item .itemLeft { display: table-cell; width: 4px; height: 26px; }
.nav .item .itemCenter { vertical-align: middle; }
.nav .item .itemCenter a { color: rgb(255, 255, 255); font-weight: bold; }
.nav .item .itemRight { display: table-cell; width: 4px; height: 26px; }
.nav .itemSelected .itemLeft { background: transparent url('nav_left01.png') no-repeat scroll 0% 0%; display: table-cell; width: 4px; }
.nav .itemSelected .itemCenter { background: transparent url('nav_middle01.png') repeat-x scroll 0% 0%; }
.nav .itemSelected .itemCenter a { color: rgb(32, 148, 41); font-weight: bold; }
.nav .itemSelected .itemRight { background: transparent url('nav_right01.png') no-repeat scroll 0% 0%; display: table-cell; width: 4px; }
.footer { color: rgb(136, 136, 136); padding-top: 18px; }
.footer a { color: rgb(136, 136, 136); }
.footer a:hover { color: rgb(86, 172, 8); }
.footerItemSpacing .footerVerticalLine { background-color: rgb(136, 136, 136); }
.mainForms .form { background-color: rgb(255, 255, 255); }
.mainForms .formBanner { overflow: scroll; height: 91px; 
line-height: 39px; border-bottom: 1px solid rgb(187, 187, 187);
    top: -7px;
    left: 0px;
}
.mainForms .formBanner .left { display: table-cell; width: 2px; }
.mainForms .formBanner .center { color: rgb(51, 51, 51); }
.mainForms .formBanner .right { display: table-cell; width: 5px; }
.mainForms .formBannerTitle .titleText { font-size: 15px; }
.mainForms .formMiddle { border-top: 1px solid rgb(255, 255, 255); padding-top: 5px; }
/* ::::: http://0.ss.faisys.com/css/pattern5.min.css?v=201511161733 ::::: */

.forms .layoutModule .form.modulePattern88, .forms .form.modulePattern88 { border: 0px none; background: transparent none repeat scroll 0px center; box-shadow: none; font-family: "微软雅黑","黑体","新宋体","Arial Unicode MS"; }
.forms .layoutModule .form.modulePattern88 .formBanner, .forms .form.modulePattern88 .formBanner { height: 34px; line-height: 34px; margin: 0px; padding: 0px; border-bottom: 1px dotted rgb(33, 136, 0); background: transparent none repeat scroll 0px center; text-shadow: none; }
.forms .layoutModule .form.modulePattern88 .formBanner .left, .forms .form.modulePattern88 .formBanner .left { background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBanner .center, .forms .form.modulePattern88 .formBanner .center { display: table-cell; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBannerTitle, .forms .form.modulePattern88 .formBannerTitle { height: 34px; margin: 0px; line-height: 34px; font-size: 14px; font-weight: normal; color: rgb(51, 51, 51); background: transparent none repeat scroll 0px center; border: 0px none; }
.forms .layoutModule .form.modulePattern88 .formBannerTitle .titleLeft, .forms .form.modulePattern88 .formBannerTitle .titleLeft { padding: 0px; margin: 0px; height: 34px; line-height: 34px; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBannerTitle .titleCenter, .forms .form.modulePattern88 .formBannerTitle .titleCenter { height: auto; line-height: 34px; padding-top: 0px; text-shadow: none; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBannerTitle .titleCenter .titleText, .forms .form.modulePattern88 .formBannerTitle .titleCenter .titleText { height: 34px; margin: 0px; padding: 0px; line-height: 34px; color: rgb(51, 51, 51); font-size: 14px; font-weight: normal; text-shadow: none; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBannerTitle .titleRight, .forms .form.modulePattern88 .formBannerTitle .titleRight { padding: 0px; margin: 0px; height: 34px; line-height: 34px; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBanner .right, .forms .form.modulePattern88 .formBanner .right { display: table-cell; width: 0px; height: 34px; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formMiddle, .forms .form.modulePattern88 .formMiddle { margin-left: 0px; color: rgb(51, 51, 51); background: transparent none repeat scroll 0px center; border-top: 1px dotted rgb(255, 255, 255); }
.forms .layoutModule .form.modulePattern88 .formMiddle .formMiddleLeft, .forms .form.modulePattern88 .formMiddle .formMiddleLeft { display: none; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formMiddle .formMiddleCenter, .forms .form.modulePattern88 .formMiddle .formMiddleCenter { background: transparent none repeat scroll 0px center; border: 0px none; }
.forms .layoutModule .form.modulePattern88 .formMiddle .formMiddleCenter .formMiddleContent, .forms .form.modulePattern88 .formMiddle .formMiddleCenter .formMiddleContent { color: rgb(51, 51, 51); background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formMiddle .formMiddleRight, .forms .form.modulePattern88 .formMiddle .formMiddleRight { display: none; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBottom, .forms .form.modulePattern88 .formBottom { display: none; background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBottom .left, .forms .form.modulePattern88 .formBottom .left { background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBottom .center, .forms .form.modulePattern88 .formBottom .center { background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBottom .right, .forms .form.modulePattern88 .formBottom .right { background: transparent none repeat scroll 0px center; }
.forms .layoutModule .form.modulePattern88 .formBanner .left, .forms .form.modulePattern88 .formBanner .left {  }
.forms .layoutModule .form.modulePattern88 .formBanner .center, .forms .form.modulePattern88 .formBanner .center {  }
.forms .layoutModule .form.modulePattern88 .formBanner .right, .forms .form.modulePattern88 .formBanner .right {  }
#nav { width: 560px; }
#nav .navMainContent { width: 100%; }
#nav { height: 27px; }
#nav .navLeft { height: 27px; }
#nav .navRight { height: 27px; }
#nav .navCenterContent { height: 27px; }
#nav .navMainContent { height: 100%; }
#nav .navCenterContent { height: 100%; }
#nav .navContent { width: 560px; }
#nav .navContent { height: 27px; }
#nav .navCenterContent { height: 100%; }
#nav { top: 60px; }
#nav { left: 209px; }
#webFooterTable li.footerItemSection { height: 22px; }
#webFooterTable li.footerItemSpacing { height: 13px; }
#webFooterTable li.footerItemSpacing { padding-top: 5px; }
